<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <section>
      <div class="mainContainner">
        <div class="main">
          <div class="heading">
            <hr />
            <h1>Dashboard</h1>
            <hr />
          </div>

          <table class="table" border="1">
            <tr>
              <th>F_ID</th>
              <th>NAME</th>
              <th>KCAL</th>
              <th>PROTEIN</th>
              <th>FIBRE</th>
              <th>Quantity in Gram</th>
            </tr>

            <tbody>
              <tr th:if="${dailyc.empty}">
                NO FOOD
              </tr>
              <tr th:each="dfood : ${dailyc}">
                <td th:text="${dfood.id}"></td>
                <td th:text="${dfood.food.name}"></td>
                <td th:text="${(dfood.food.kcal/100)*dfood.quantity}"></td>
                <td th:text="${(dfood.food.protein/100)*dfood.quantity}"></td>
                <td th:text="${(dfood.food.fibre/100)*dfood.quantity}"></td>
                <td th:text="${dfood.quantity}" bgcolor="#ffe7a3"></td>
              </tr>
            </tbody>
          </table>
          <br />
          <h3>Today's Calorie: <span th:text="${dailyCalories}"></span></h3>

          <div class="innerContainner">
            <h1>Add Today's food</h1>
            <input
              type="text"
              id="DFoodSearch"
              class="searchbar"
              placeholder="SearchFood"
            />
            <div class="searchContainer">
              <table
                class="table"
                id="searchTable"
                border="1"
                cellpadding="5"
              ></table>
            </div>
          </div>
          <!-- //////////////////////////////// CALORIES///////////////////  -->
          <div class="heading">
            <hr />
            <h1>Calories</h1>
            <hr />
          </div>
          <p>
            According to the
            <i>height, weight, age, gender, activity and goal</i> in your
            profile, <br />Here is the range of calories you should be having
            <strong>Every Day</strong>
          </p>
          <br />
          <h2 class="calorie">
            MinCalorie: <span th:text="${minCalorie}"></span>
          </h2>
          <h2 class="calorie">
            MaxCalorie: <span th:text="${maxCalorie}"></span>
          </h2>
        </div>
        <!--//main close -->
      </div>

      <script>
        const table = document.getElementById("addDFoodTable");
        const searchbar = document.getElementById("DFoodSearch");
        const searchTable = document.getElementById("searchTable");

        searchbar.addEventListener("input", () => {
          axios
            .get("/api/getfoodbyname/" + searchbar.value)
            .then((res) => {
              const data = res.data;
              searchTable.innerHTML = `
               <tr>
                  <td>ID</td>
                  <td>Name</td>
                  <td>CALORIE</td>
                  <td>Protein</td>
                  <td>Quantity in Gram</td>
                </tr>
              `;
              for (let i = 0; i < data.length; i++) {
                const food = data[i];
                searchTable.innerHTML += `
                
                  <tr>
                      <td>${food.id}</td>
                      <td>${food.name}</td>
                      <td>${food.kcal}</td>
                      <td>${food.protein}</td>
                      <td >
                        <form class="form" action="/addDailyC" method="post">
                        <input type="text" name="foodId" hidden value="${food.id}">
                        <input type="number"  step=".01" placeholder="Quantity" value="1" name="quantity">
                        <button type="submit">+ADD</button>
                        </form>
                      </td>
                  </tr>
                `;
              }
            })
            .catch((e) => {
              console.log(e);
            });
        });
      </script>
    </section>
  </body>
</html>
