<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})"
>
<head>
    <meta charset="UTF-8">
    <title>Food-List</title>
</head>
<body>
    <section>
        <div class="mainContainner">
            <div class="main">


                <form class="form" th:action="@{/addFood}" method="post" th:if="${isAdmin == true}">
                    <div class="heading">
                        <hr />
                        <h1>Add Food</h1>
                        <hr />
                    </div>
                    <input type="text" placeholder="Name" name="name" class="input" />
                    <input type="text" placeholder="calorie" name="kcal" class="input" />
                    <input type="text" placeholder="protein" name="protein" class="input" />
                    <input type="text" placeholder="carbs" name="carbs" class="input" />
                    <input type="text" placeholder="fat" name="fat" class="input" />
                    <input type="text" placeholder="fibre" name="fibre" class="input" />
                     <input type="text" placeholder="water" name="water" class="input" />
                    <input type="text" placeholder="amount" name="amount" class="input" />
                    <br>
                    <button type="submit">Add Food</button>
                </form>

                <div class="heading">
                    <hr />
                    <h1>Food List</h1>
                    <hr />
                </div>
                <table class="table" border="1">
                    <tbody>
                    <thead>
                    <tr>
                        <th>F_ID</th>
                        <th>NAME</th>
                        <th>KCAL</th>
                        <th>PROTEIN</th>
                        <th>CARB</th>
                        <th>FAT</th>
                        <th>FIBRE</th>
                        <th>WATER</th>
                        <th>AMOUNT</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:if="${allFood.empty}">NO FOOD</tr>
                    <tr th:each="food : ${allFood}">
                        <td th:text="${food.id}"></td>
                        <td th:text="${food.name}"></td>
                        <td th:text="${food.kcal}"></td>
                        <td th:text="${food.protein}"></td>
                        <td th:text="${food.carbs}"></td>
                        <td th:text="${food.fat}"></td>
                        <td th:text="${food.fibre}"></td>
                        <td th:text="${food.water}"></td>
                        <td th:text="${food.amount}"></td>
                    </tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>