<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <title>Food-List</title>
  </head>
  <body>
    <section>
      <div class="mainContainner">
        <div class="main">
          <div class="heading">
            <hr />
            <h1>Your Profile</h1>
            <hr />
          </div>
          <div class="containner">
            <form class="form" th:action="@{/addProfile}" method="post">
              <input
                type="number"
                placeholder="Weight"
                name="weight"
                class="input"
                th:value="${user.weight}"
              />
              <input
                type="number"
                step=".01"
                placeholder="Height in centimeters"
                name="height"
                class="input"
                th:value="${user.height}"
              />
              <input
                type="number"
                placeholder="Age"
                name="age"
                class="input"
                th:value="${user.age}"
              />
              <div class="sel">
                <select id="gender" name="gender">
                  <option value="M" th:selected="${user.gender == 'M'}">
                    Male
                  </option>
                  <option value="F" th:selected="${user.gender == 'F'}">
                    Female
                  </option>
                </select>
              </div>
              <div class="sel">
                <select id="goal" name="goal">
                  <option
                    value="MAINTAIN"
                    th:selected="${user.goal == 'MAINTAIN'}"
                  >
                    Fitness
                  </option>
                  <option
                    value="BULKING"
                    th:selected="${user.goal == 'BULKING'}"
                  >
                    Bulking
                  </option>
                  <option
                    value="LOOSING_WEIGHT"
                    th:selected="${user.goal == 'LOOSING_WEIGHT'}"
                  >
                    Weight Loss
                  </option>
                </select>
              </div>
              <div class="sel">
                <select id="activity" name="activity">
                  <option
                    value="SEDENTARY"
                    th:selected="${user.activityLevel == 'SEDENTARY'}"
                  >
                    SEDENTARY
                  </option>
                  <option
                    value="LIGHTLY_ACTIVE"
                    th:selected="${user.activityLevel == 'LIGHTLY_ACTIVE'}"
                  >
                    LIGHTLY ACTIVE
                  </option>
                  <option
                    value="MODERATELY_ACTIVE"
                    th:selected="${user.activityLevel == 'MODERATELY_ACTIVE'}"
                  >
                    MODERATELY ACTIVE
                  </option>
                  <option
                    value="VERY_ACTIVE"
                    th:selected="${user.activityLevel == 'VERY_ACTIVE'}"
                  >
                    VERY ACTIVE
                  </option>
                  <option
                    value="SUPER_ACTIVE"
                    th:selected="${user.activityLevel == 'SUPER_ACTIVE'}"
                  >
                    SUPER ACTIVE
                  </option>
                </select>
              </div>
              <button type="submit">Done</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
