<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
  <head>
    <meta charset="UTF-8" />
    <title>Food-List</title>
  </head>
  <body>
  <section>
    <div class="mainContainner">
      <div class="main">
        <div class="heading">
          <hr />
          <h1>Your Profile</h1>
          <hr />
        </div>
        <div class="containner">
          <form class="form" th:action="@{/addProfile}" method="post">
            <input
              type="number"
              placeholder="Weight"
              name="weight"
              class="input"
              th:value="${user.weight}"
            />
            <input
              type="number"
              placeholder="Height in centimeters"
              name="height"
              class="input"
              th:value="${user.height}"
            />
            <input
              type="number"
              placeholder="Age"
              name="age"
              class="input"
              th:value="${user.age}"
            />

            <div class="sel">
              <select id="gender" name="gender">
                <option value="M" th:selected="${user.gender == 'M'}">
                  Male
                </option>
                <option value="F" th:selected="${user.gender == 'F'}">
                  Female
                </option>
              </select>
            </div>

            <div class="sel">
              <select id="goal" name="goal">
                <option value="Fitness" th:selected="${user.goal == 'Fitness'}">
                  Fitness
                </option>
                <option
                  value="WeightGain"
                  th:selected="${user.goal == 'WeightGain'}"
                >
                  Weight Gain
                </option>
                <option
                  value="WeightLoss"
                  th:selected="${user.goal == 'WeightLoss'}"
                >
                  Weight Loss
                </option>
                <option
                  value="BodyRecomp"
                  th:selected="${user.goal == 'BodyRecomp'}"
                >
                  Body Recomposition
                </option>
              </select>
            </div>

            <button type="submit">Done</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  </body>
</html>
